@font-face{
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?iefix') format('eot'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
  url('../fonts/ProximaNova-Bold.svg#webfont') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Extrabld.eot');
  src: url('../fonts/ProximaNova-Extrabld.eot?iefix') format('eot'),
  url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
  url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'),
  url('../fonts/ProximaNova-Extrabld.svg#webfont') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face{
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?iefix') format('eot'),
  url('../fonts/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light.ttf') format('truetype'),
  url('../fonts/ProximaNova-Light.svg#webfont') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-LightIt.eot');
  src: url('../fonts/ProximaNova-LightIt.eot?iefix') format('eot'),
  url('../fonts/ProximaNova-LightIt.woff') format('woff'),
  url('../fonts/ProximaNova-LightIt.ttf') format('truetype'),
  url('../fonts/ProximaNova-LightIt.svg#webfont') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?iefix') format('eot'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
  url('../fonts/ProximaNova-Semibold.svg#webfont') format('svg');
  font-weight: 600;
  font-style: normal;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'ProximaNova', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  background-color: #272fb3;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.open-mobile-menu,
.close-mobile-menu {
  display: none;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

.visually-hidden {
  position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.mobile-section__img {
  display: none;
}

header {
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(56deg, rgba(25, 103, 188, 0.9), rgb(68, 146, 231));
  z-index: -3;
}

.header-block__wrapper::after {
  content: '';
  position: absolute;
  right: 0;
  top: 16%;
  width: 100%;
  height: 100%;
  background-image: url('../img/header-bg.png');
  background-position: right 0;
  background-repeat: no-repeat;
  z-index: -1;
}

header section::before {
  top: 0;
  left: -136px;
  width: 663px;
  height: 763px;
  background-image: url('../img/pattern-section.png');
}

.nav-block {
  width: 100%;
  position: fixed;
  z-index: 20;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.large {
  padding-top: 25px;
  padding-bottom: 25px;
}

.small {
  padding-top: 13px;
  padding-bottom: 13px;
}

.nav-block::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(56deg, rgba(33, 106, 195, 0.9), rgba(68, 146, 231, 0.9));
  z-index: -1;
}

.btn {
  background-color: rgba(255, 255, 255, 0.53);
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
}

.btn-outline {
  background-color: #262bae;
  border: 1px solid #ffffff;
  padding: 15px 42px;
}

section {
  position: relative;
  width: 50%;
}

section h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 800;
  letter-spacing: 1px;
}

section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/pattern-section.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 96%;
  z-index: -1;
}

section::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.text__semibold {
  font-weight: 600;
}

main {
  position: relative;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #262bae, #2a3fcc);
  z-index: -3;
}

.text__layout {
  padding: 33px 112px 38px;
  text-align: center;
  font-style: italic;
  background-color: rgba(68, 146, 231, 0.6);
  border-radius: 10px;
}

.bg__white {
  background-color: #ffffff;
  width: 100%;
}

.bg__white h2,
.bg__white p {
  color: #000000;
  text-align: center;
}

.bg__white::before,
.bg__white::after {
  content: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  list-style: none;
}

.main-nav__item {
  padding: 10px 30px 8px;
  display: inline-block;
}

.main-nav__item a {
  font-size: 1.1875rem;
  font-weight: 600;
}

.main-nav__item a:hover,
.main-nav__item a:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.53);
}

.user-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__item {
  margin-left: 16px;
  display: inline-block;
  position: relative;
}

.user-nav__item .login {
  padding: 10px 30px;
}

.toggle-language .arrow {
  fill: #ffffff;
  width: 6px;
  height: 8px;
  transform: rotate(90deg);
  vertical-align: middle;
}

.toggle-language__menu {
  display: none;
  position: absolute;
  top: 39px;
  right: 6px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.53);
}

.toggle-language__menu li:first-child {
  border-bottom: 1px solid #ffffff;
}

.toggle-language__menu a {
  padding: 10px 25px;
  display: inline-block;
  color: #ffffff;
}

.toggle-language__menu a:hover,
.toggle-language__menu a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.show {
  display: block;
}

header section {
  padding-top: 32px;
  padding-bottom: 94px;
  margin: 0 auto 0 0;
  width: 50%;
}

h1 {
  margin-top: 150px;
  margin-bottom: 0;
  font-size: 3.75rem;
  line-height: 3.75rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header h3 {
  margin-top: 11px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.75rem;
}

header .btn-outline {
  margin-top: 24px;
  margin-bottom: 35px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  display: inline-block;
  margin-right: 6px;
}

.social__link {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.social__link:hover {
  background-color: rgba(255, 255, 255, 0.53);
}

.social__link.fb {
  background-image: url('../img/social-icons/facebook.png');
}

.social__link.twitter {
  background-image: url('../img/social-icons/twitter.png');
}

.social__link.youtube {
  background-image: url('../img/social-icons/youtube.png');
}

.social__link.telegram {
  background-image: url('../img/social-icons/telegram.png');
}

.social__link.vk {
  background-image: url('../img/social-icons/vk.png');
}

.social__link.linked-in {
  background-image: url('../img/social-icons/linked-in.png');
}

.timer-block {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  padding-bottom: 20px;
  width: 407px;
  background-color: transparent;
  border-radius: 25px;
  z-index: 10;
}

.timer-block h3 {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: left;
}

 .timer-block .eTimer {
  padding: 15px 0;
  display: block;
}

.timer-block .eTimer .etUnit .etNumber {
  width: 45px;
}

.etNumber {
  font-weight: 600;
}

.about-project {
  margin: 0 0 0 auto;
  padding: 71px 0px 35px 14px;
}

.about-project::before {
  top: 0;
  left: -123%;
}

.about-project::after {
  left: -97%;
  top: 15%;
  width: 507px;
  height: 454px;
  background-image: url('../img/about-project-bg.png');
}

.about-project h2 {
  margin-bottom: 37px;
}

.about-project p {
  line-height: 1.2rem;
  margin-bottom: 22px;
}

.about-project__description {
  padding-right: 35px;
}

.about-project ul {
  margin: 0;
  padding: 8px 0;
  list-style: none;
}

.about-project li {
  padding: 0 90px 0 70px;
  position: relative;
}

.about-project li:nth-child(1) {
  padding-right: 170px;
  margin-bottom: 29px;
}

.about-project li::before {
  content: '';
  position: absolute;
  width: 56px;
  height: 56px;
  left: -3px;
  top: -3px;
  background-color: #4492e7;
  border-radius: 28px;
  background-position:center;
  background-repeat: no-repeat;
}

.about-project li:nth-child(1)::before {
  background-image: url('../img/about-project-icons/1.png');
}

.about-project li:nth-child(2)::before {
  background-image: url('../img/about-project-icons/2.png');
  top: 11px;
}

.insurance-project {
  width: 51%;
  padding-top: 75px;
  padding-bottom: 50px;
}

.insurance-project::before {
  right: -104%;
  top: -68px;
}

.insurance-project::after {
  top: 69px;
  right: -99%;
  width: 580px;
  height: 424px;
  background-image: url('../img/insurance-project-bg.png');
}

.insurance-project h2 {
  margin-bottom: 35px;
}

.insurance-project p {
  padding-right: 50px;
}

.burse-project {
  margin: 0 0 0 auto;
  padding: 39px 0 50px 13px;
}

.burse-project::before {
  left: -117%;
  top: -93px;
}

.burse-project::after {
  top: 118px;
  left: -106%;
  width: 579px;
  height: 437px;
  background-image: url('../img/burse-project-bg.png');
}

.burse-project p {
  padding-right: 20px;
  margin-bottom: 20px;
}

.burse-project .text__layout {
  padding: 15px 26px;
  text-align: left;
  font-style: italic;
}

.option-project {
  padding-top: 13px;
  padding-bottom: 121px;
}

.option-project::before {
  right: -112%;
  top: -257px;
}

.option-project::after {
  width: 566px;
  height: 412px;
  top: 36px;
  right: -101%;
  background-image: url('../img/option-project-bg.png');
}

.why-now {
  padding-top: 50px;
  padding-bottom: 50px;
}

.why-now ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.why-now li {
  width: 33%;
  text-align: center;
}

.why-now li p {
  text-align: left;
  padding: 12px 40px;
}

.why-now li:not(:last-child) {
  border-right: 2px solid #4492e7;
}

.market-size {
  padding-top: 39px;
  padding-bottom: 121px;
}

.market-size .container {
  background-image: url('../img/graph.png');
  background-position: right 0;
  background-repeat: no-repeat;
}

.market-size h2 {
  text-align: left;
}

.market-size p {
  width: 53%;
  text-align: left;
}

.monetization {
  padding: 55px 0 44px 18px;
  margin: 0 0 0 auto;
}

.monetization::before {
  left: -117%;
  top: -93px;
}

.monetization::after {
  top: 87px;
  left: -103%;
  width: 484px;
  height: 463px;
  background-image: url('../img/monetization-bg.png');
}

.monetization h2 {
  margin-bottom: 10px;
}

.monetization ul {
  margin: 0;
  margin-top: 53px;
  padding: 0;
  position: relative;
  list-style: none;
}

.monetization ul::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -45px;
  width: 28px;
  height: 250px;
  background-image: url('../img/monetization-line.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.monetization li {
  margin-bottom: 46px;
}

.monetization ul h3 {
  margin-bottom: 0;
}

.monetization ul p {
  margin: 9px 0;
}

.potential {
  padding-top: 84px;
  padding-bottom: 116px;
}

.potential h2,
.potential p {
  text-align: left;
  width: 60%;
}

.potential .container {
  background-image: url('../img/graph.png');
  background-position: right 0;
  background-repeat: no-repeat;
}

.tokens-amount {
  margin: 0;
  padding: 46px;
  background-color: #d8e6ea;
  text-align: center;
  color: #000000;
  font-size: 1.75rem;
}

.tokens-amount span {
  display: block;
  text-align: center;
  font-size: 5.625rem;
  line-height: 5.625rem;
  color: #272fb3;
  font-weight: 800;
  letter-spacing: 4px;
}

.distribution-tokens {
  padding-top: 85px;
  padding-bottom: 108px;
  position: relative;
}

.distribution-tokens img {
  margin: 0 auto;
  display: block;
}

.distribution-tokens .percent-wrapper {
  position: relative;
}

.distribution-tokens .percent-wrapper p {
  width: 200px;
  position: absolute;
}

.distribution-tokens .percent-wrapper p:nth-child(1) {
  padding-right: 13px;
  top: -242px;
  left: 150px;
  text-align: right;
  border-right: 6px solid #272fb3;
}

.distribution-tokens .percent-wrapper p:nth-child(2) {
  padding-left: 13px;
  top: -353px;
  right: 142px;
  text-align: left;
  border-left: 6px solid #4492e7;
}

.distribution-tokens .percent-wrapper p:nth-child(3) {
  padding-left: 13px;
  top: -227px;
  right: 142px;
  text-align: left;
  border-left: 6px solid #7024c0;
}

.distribution-tokens .percent-wrapper p:nth-child(4) {
  padding-left: 13px;
  top: -108px;
  right: 142px;
  text-align: left;
  border-left: 6px solid #12194f;
}

.distribution-tokens .percent-wrapper p span {
  display: block;
  font-weight: 800;
  font-size: 2.375rem;
  line-height: 2.375rem;
}

.distribution-details {
  padding: 40px 0 24px;
  background-color: #d8e6ea;
}

.distribution-details table {
  margin: 0 auto 46px;
  padding-left: 10%;
}

.distribution-details td {
  padding: 10px 0;
  width: 50%;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #000000;
}

.distribution-details td:last-child {
  font-weight: 800;
}

.distribution-details p {
  padding-left: 25%;
  font-size: 1.125rem;
  color: #000000;
  text-align: left;
}

.distribution-cash {
  padding-top: 93px;
  padding-bottom: 128px;
  position: relative;
}

.distribution-cash img {
  margin: 0 auto;
  display: block;
}

.distribution-cash .percent-wrapper {
  position: relative;
}

.distribution-cash .percent-wrapper p {
  width: 200px;
  position: absolute;
}

.distribution-cash .percent-wrapper p:nth-child(1) {
  padding-right: 13px;
  top: -326px;
  left: 150px;
  text-align: right;
  border-right: 6px solid #272fb3;
}

.distribution-cash .percent-wrapper p:nth-child(2) {
  padding-right: 13px;
  top: -123px;
  left: 150px;
  text-align: right;
  border-right: 6px solid #12194f;
}

.distribution-cash .percent-wrapper p:nth-child(3) {
  padding-left: 13px;
  top: -338px;
  right: 142px;
  text-align: left;
  border-left: 6px solid #4492e7;
}

.distribution-cash .percent-wrapper p:nth-child(4) {
  padding-left: 13px;
  top: -218px;
  right: 142px;
  text-align: left;
  border-left: 6px solid #7024c0;
}

.distribution-cash .percent-wrapper p:nth-child(5) {
  padding-left: 13px;
  top: -99px;
  right: 142px;
  text-align: left;
  border-left: 6px solid #381260;
}

.distribution-cash .percent-wrapper p span {
  display: block;
  font-weight: 800;
  font-size: 2.375rem;
  line-height: 2.375rem;
}

.road-map {
  padding-top: 73px;
  width: 100%;
}

.road-map::before {
  background-image: none;
}

.road-map h2 {
  text-align: center;
}

.road-map ul {
  margin: 0;
  padding: 0;
  padding-left: 18px;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.road-map ul::before {
  content: '';
  position: absolute;
  background-image: url('../img/road-map-bg.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 731px;
  top: 90px;
  left: 2px;
  transform: scale(1);
}

.road-map li {
  width: 24%;
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.road-map li:nth-child(4n) {
  margin-bottom: 98px;
}

.road-map p {
  margin-bottom: 45px;
}

.road-map span {
  font-weight: 700;
}

.team-project {
  padding-top: 73px;
  padding-bottom: 145px;
  width: 100%;
}

.team-project::before {
  content: '';
  position: absolute;
  width: 663px;
  height: 763px;
  left: -55px;
  top: 11%;
  background-image: url(../img/pattern-section.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: scale(0.95);
  z-index: -2;
}

.team-project::after {
  content: '';
  position: absolute;
  width: 663px;
  height: 763px;
  right: -67px;
  top: 11%;
  background-image: url(../img/pattern-section.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: scale(0.95);
  z-index: -2;
}

.team-project h2 {
  text-align: center;
}

.team-project .team__list {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.team-project .team__list>li {
  margin-bottom: 50px;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team-project img {
  margin-bottom: 12px;
}

.team-project span {
  font-size: 1.125rem;
  display: block;
  font-weight: 700;
}

.team-project p {
  margin-top: 6px;
  margin-bottom: 0;
}

.team-project .social__list {
  margin: auto 0 0;
}

.team-project .social__item {
  margin-right: 0;
}

.team-project .social__link {
  background-color: transparent;
  opacity: 0.7;
}

.team-project .social__link:hover,
.team-project .social__link:focus {
  opacity: 1;
}

footer {
  padding-top: 47px;
  padding-bottom: 45px;
  background-color:  rgba(68, 146, 231, 0.5);
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer p {
  font-size: 0.875rem;
  line-height: 0.875rem;
}

footer a {
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 0.5rem;
}

.footer-logo p {
  margin-bottom: 32px;
  font-size: 0.75rem;
}

.footer-logo h2 {
  margin-top: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.625rem;
  line-height: 1.625rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.social-wrapper {
  text-align: center;
}

.social-wrapper ul {
  margin-bottom: 20px;
}

.sub-block .btn {
  padding: 12px 24px;
  margin: 0;
  margin-bottom: 10px;
  width: 198px;
  height: 40px;
  display: block;
  font-size: 0.875rem;
}

/* --------------------------------------------------------------- */

@media (max-width: 480px) {
  section {
    width: 100% !important;
    overflow: hidden;
  }

  section::before {
    background-size: contain;
  }

  h1 {
    font-size: 3.2375rem;
    line-height: 3.2375rem;
  }

  .container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
  }

  .mobile-section__img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
  }

  .nav-block {
    width: 0;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background-color: #262bae;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  
  header section {
    padding-top: 5px;
    padding-bottom: 46px;
  }

  header section::before {
    top: 27%;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .menu-open {
    display: block;
    width: 50%;
  }

  .nav-block .container {
    padding: 0 20px;
    width: 100%;
  }

  .nav-block::before {
    content: none;
  }

  .nav-wrapper {
    padding-top: 75px;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    flex-direction: column;
  }

  .main-nav__list {
    padding: 0;
    margin-bottom: 20px;
  }

  .main-nav__item {
    padding: 15px 0;
    width: 100%;
    text-align: left;
  }

  .main-nav__item a {
    font-weight: 300;
  }

  .main-logo__link {
    display: none;
  }

  .open-mobile-menu,
  .close-mobile-menu {
    display: inline;
  }

  .open-mobile-menu {
    padding: 22px;
    display: inline-block;
    background-color: transparent;
  }

  .open-mobile-menu i {
    font-size: 2rem;
  }

  .close-mobile-menu {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .user-nav__list {
    text-align: center;
  }

  .user-nav__item {
    margin: 0;
    margin-bottom: 15px;
  }

  .header-block__wrapper::after {
    background-size: contain;
    left: 0;
    top: 35%;
    z-index: -1;
  }

  h1 {
    margin-top: 0;
    text-align: center;
  }

  header h3 {
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 5px;
  }

  header p {
    display: none;
  }

  .timer-block {
    margin-top: 30px;
    margin-bottom: 77%;
    width: 100%;
  }

  .timer-block .eTimer {
    text-align: center;
  }

  .timer-block h3 {
    text-align: center;
  }

  .timer-block .eTimer .etUnit .etNumber {
    font-size: 30px;
    padding: 0;
    width: 40px;
  }

  .social__list {
    text-align: center;
  }

  .social__link {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .about-project {
    padding-top: 39px;
    padding-bottom: 0;
  }

  .about-project h2 {
    padding-left: 30px;
    margin-bottom: 0;
  }

  .about-project p {
    padding: 0 25px;
  }

  .about-project::before {
    top: 0;
    left: 0;
  }

  .about-project::after {
    content: none;
  }

  .about-project ul {
    padding: 0px 20px 0 30px;
    margin-top: 35px;
  }

  .about-project li:first-child {
    padding-right: 0;
    margin-bottom: 0;
  }

  .about-project li {
    margin-bottom: 0;
    padding: 0 0 0 47px;
  }

  .about-project li::before {
    left: 0 !important;
    top: 0 !important;
  }

  .text__layout {
    padding: 20px;
    margin: 0 34px;
    text-align: left;
  }

  .insurance-project {
    padding-top: 40px;
  }

  .insurance-project h2 {
    padding: 0 35px;
    margin-bottom: 0;
  }

  .insurance-project::before {
    right: 0;
    top: 18%;
  }

  .insurance-project::after {
    content: none;
  }

  .insurance-project p {
    padding: 0 40px;
  }

  .burse-project {
    padding: 0 32px 0;
  }

  .burse-project::after {
    content: none;
  }

  .burse-project h2 {
    margin-bottom: 0;
  }

  .burse-project p {
    margin-bottom: 10px;
  }

  .burse-project .text__layout {
    padding: 15px;
    margin: 0;
    line-height: 1.1rem;
  }

  .option-project {
    padding: 48px 32px 63px;
  }

  .option-project::before {
    right: 0;
  }

  .option-project::after {
    content: none;
  }

  .option-project h2 {
    margin-bottom: 0;
  }

  .why-now {
    padding-top: 20px;
  }

  .why-now li {
    width: 100%;
    border: none !important;
  }

  .why-now li p {
    padding: 12px 45px;
    text-align: center;
    font-size: 1rem;
  }

  .market-size {
    padding: 12px 32px 53px;
  }

  .market-size p {
    width: 100%;
  }

  .market-size .container {
    background-position: 32% 10%;
    background-size: 82%;
  }

  .market-size h2 {
    margin-bottom: 90%;
  }

  .monetization {
    padding: 14px 32px 34px;
  }

  .monetization h2 {
    padding-bottom: 0;
  }

  .monetization::before {
    left: 0;
    top: 0;
  }

  .monetization::after {
    content: none;
  }

  .monetization ul {
    margin-top: 0;
  }
  
  .monetization li {
    margin-bottom: 27px;
  }

  .monetization ul::before {
    content: none;
  }

  .potential {
    padding: 35px 32px 50px;
  }

  .potential .container {
    background-size: 82%;
    background-position: 36% 10%;
  }

  .potential h2 {
    margin-bottom: 85%;
  }

  .potential h2,
  .potential p {
    width: 100%;
  }

  .potential::after {
    content: none;
  }

  .tokens-amount {
    padding: 32px 40px;
    font-size: 1.4375rem;
  }

  .tokens-amount span {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  
  .distribution-tokens {
    padding: 17px 0 50px;
  }

  .distribution-tokens img {
    width: 238px;
    height: 238px;
    display: block;
  }

  .distribution-tokens .percent-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .distribution-tokens .percent-wrapper p span {
    position: absolute;
    padding: 0 10px;
    width: 100px;
    left: 0;
    top: 0;
  }

  .distribution-tokens .percent-wrapper p:nth-child(1),
  .distribution-tokens .percent-wrapper p:nth-child(2),
  .distribution-tokens .percent-wrapper p:nth-child(3),
  .distribution-tokens .percent-wrapper p:nth-child(4) {
    position: relative;
    padding: 0;
    margin: 15px auto;
    width: 80%;
    min-height: 35px;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding-left: 100px;
  }

  .distribution-tokens .percent-wrapper p:nth-child(1) {
    border-right: none;
    border-left: 6px solid #272fb3;
  }

  .distribution-details {
    padding-top: 22px;
  }

  .distribution-details table {
    padding-left: 8%;
  }

  .distribution-details td {
    padding-right: 15px;
  }

  .distribution-details td:last-child {
    width: 38%;
  }

  .distribution-details p {
    padding: 0 32px;
  }

  .distribution-cash {
    padding: 9px 0 47px;
  }

  .distribution-cash img {
    width: 238px;
    height: 238px;
    display: block;
  }

  .distribution-cash .percent-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .distribution-cash .percent-wrapper p span {
    position: absolute;
    padding: 0 10px;
    width: 100px;
    left: 0;
    top: 0;
  }

  .distribution-cash .percent-wrapper p:nth-child(1),
  .distribution-cash .percent-wrapper p:nth-child(2),
  .distribution-cash .percent-wrapper p:nth-child(3),
  .distribution-cash .percent-wrapper p:nth-child(4),
  .distribution-cash .percent-wrapper p:nth-child(5) {
    position: relative;
    padding: 0;
    margin: 15px auto;
    width: 80%;
    min-height: 35px;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding-left: 100px;
  }

  .distribution-cash .percent-wrapper p:nth-child(1) {
    border-right: none;
    border-left: 6px solid #272fb3;
  }

  .distribution-cash .percent-wrapper p:nth-child(2) {
    border-right: none;
    border-left: 6px solid #12194f;
  }

  .road-map {
    padding: 15px 41px;
  }

  .road-map ul::before {
    content: none;
  }

  .road-map::after {
    height: auto;
  }

  .road-map ul {
    padding: 24px 18px;
    flex-direction: column;
    border-left: 4px solid #3d7bdd;
  }
  
  .road-map li {
    width: 100%;
    text-align: left;
    height: auto;
    position: relative;
  }

  .road-map li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -31px;
    height: 24px;
    width: 24px;
    background-image: url("../img/road-map-dot.png");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .road-map li:nth-child(4n) {
    margin-bottom: 0;
  }

  .road-map li:last-child p {
    margin-bottom: 0;
  }

  .road-map li span {
    order: 1;
  }

  .road-map li p {
    order: 2;
  }

  .team-project {
    padding-bottom: 0;
    padding-top: 50px;
    background-image: url("../img/pattern-section.png");
    background-size: contain;
    background-position: 0 0;
    background-repeat: repeat-y;
  }

  .team-project::before,
  .team-project::after {
    content: none;
  }

  .team-project .team__list>li {
    width: 100%;
  }

  footer .container {
    flex-direction: column;
    align-items: center;
  }

  footer .container div {
    width: 100%;
  }

  footer .sub-block {
    order: 1;
    margin-bottom: 50px;
  }

  footer .sub-block .btn {
    margin: 0 auto 10px auto;
  }

  footer .sub-block p {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
  }

  footer .social-wrapper {
    order: 2;
    margin-bottom: 50px;
  }

  footer .footer-logo {
    padding: 0 32px;
    order: 3;
    display: flex;
    flex-direction: row;
  }

  footer .footer-logo a {
    display: none;
  }

  footer .footer-logo img {
    margin-right: 20px;
  }

  footer .footer-logo p {
    margin: auto 0;
    width: 60%;
    font-size: 0.625rem;
    line-height: 0.625rem;
  }
}

@media (max-width: 420px) {
  .timer-block .eTimer .etUnit .etNumber {
    font-size: 25px;
    width: 30px;
  }

  .social__link {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .tokens-amount {
    padding: 32px 10px;
    font-size: 1rem;
  }

  .tokens-amount span {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }
}